@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;300;500;700;900&display=swap");

:root {
  --black-color: #1e272e;
  --white-color: #ffffff;
  --purple-color: #70a1ff;
  --gray-color: #a4b0be;
  --green-color: #27ae60;
  --bold-gray-color: #747d8c;

  --english-main-font: "Raleway", sans-serif;
  --persian-main-font: "Vazirmatn", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s;
  text-transform: capitalize;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 10px 25px;
  font-family: var(--persian-main-font);
  border: 0;
  outline: 0;
  border-radius: 3px;
  font-size: 14px;
}

.btn-white {
  background-color: var(--white-color);
  color: var(--black-color);
}
.body--box__title {
  color: var(--black-color);
  font-family: var(--persian-main-font);
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.body--box__title::after {
  content: "";
  width: 40px;
  height: 5px;
  background-color: var(--purple-color);
  display: block;
  text-align: center;
  margin: 1rem auto;
}
.p3 {
  padding: 3rem 0;
}
.p2 {
  padding: 2rem 0;
}
.pt-2 {
  padding-top: 2rem;
}
.mt-2 {
  margin-top: 2rem;
}
.pt-1 {
  padding-top: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}

/* ====================== Main Css Style ====================== */
/* ================= Header ================= */
.head {
  width: 100%;
  background: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh;
}
.card-overlay {
  background: rgba(0, 0, 0, 0.747);
  height: 100%;
  position: relative;
  z-index: 1;
}
.card-overlay .container {
  position: relative;
  z-index: 999;
}
.top-nav {
  /* background-color: crimson; */
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: white;
  font-family: var(--english-main-font);
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 2px;
}
.menu-area {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}
.menu-area .nav-items {
  position: relative;
}
.menu-area .nav-items:not(:first-child) {
  margin-right: 2rem;
}
.menu-area .nav-items::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: var(--purple-color);
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.menu-area .nav-items:hover::after {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.menu-area .nav-links {
  color: white;
  font-family: var(--persian-main-font);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.content-nav {
  height: 60vh;
  /* background-color: rgba(230, 230, 230, 0.288); */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--persian-main-font);
  padding: 0 7rem;
}
.box-title {
  color: var(--white-color);
  font-size: 45px;
  font-weight: 600;
}

.content-nav .box-sub_title {
  padding: 1.5rem 0;
  color: var(--white-color);
  font-weight: 300;
}
.content-nav .area-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.content-nav .area-btn .btn-green {
  background-color: var(--green-color);
  color: var(--white-color);
}
.content-nav .area-btn .btn-green:hover {
  background-color: #2ecc71;
}

.content-nav .area-btn .btn-white:hover {
  background-color: var(--purple-color);
  color: var(--white-color);
}
.col .bars {
  width: 35px;
  height: 2px;
  background-color: var(--white-color);
  display: none;
  margin-top: 10px;
}

/* ====================== Main Body Style ====================== */
/* ================= Describe Styles ================= */
.des-box {
  width: 200px;
  border: 1px solid #ecf0f1;
  border-radius: 3px;
  padding: 1rem;
  text-align: center;
  font-family: var(--persian-main-font);
}
.des--icon__box {
  font-size: 1.6rem;
  color: var(--purple-color);
}
.des--title__box {
  font-weight: bold;
  font-size: 16px;
}
.des--subttl__box {
  font-weight: 300;
  color: var(--gray-color);
  margin: 1rem 0;
}
.des--link__box {
  font-size: 14px;
  color: var(--purple-color);
}
.des--link__box:hover {
  color: var(--green-color);
}

/* ================= Portfolio Styles ================= */

.portfolio {
  background-color: #ecf0f1;
}
.port--img__box {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 5px;
}

.img-shad-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
  font-family: var(--persian-main-font);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.img-shad-box h3 {
  font-weight: 400;
  font-size: 18px;
}

.port--img__box:hover .img-shad-box {
  visibility: visible;
  opacity: 1;
}
.img-box-1 {
  background-image: url("../img/portfolio/1");
}
.img-box-2 {
  background-image: url("../img/portfolio/2.jpg");
}
.img-box-3 {
  background-image: url("../img/portfolio/3.jpg");
}
.img-box-4 {
  background-image: url("../img/portfolio/4.jpg");
}
.img-box-5 {
  background-image: url("../img/portfolio/5.jpg");
}
.img-box-6 {
  background-image: url("../img/portfolio/6.jpg");
}

/* ================= About-Us Styles ================= */
.ab--box {
  border-radius: 3px;
  border: 1px solid #ecf0f1;
  padding: 1rem;
  text-align: right;
  font-family: var(--persian-main-font);
}
.ab--box__head {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  gap: 15px;
}

.ab--box__head i {
  color: var(--purple-color);
  font-size: 23px;
}
.ab--box__title {
  font-weight: 900;
  font-size: 18px;
}
.ab--box__content .ab--box__para {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 13px;
  padding-top: 10px;
  line-height: 1.7;
}

/* ================= Why Styles ================= */

.why-right-side {
  overflow: hidden;
}

.why-right-side img {
  max-width: 100%;
  height: auto;
}
.why--left__title {
  color: var(--black-color);
  font-family: var(--persian-main-font);
  font-size: 30px;
  font-weight: 900;
  direction: rtl;
}

.why--left__title::after {
  content: "";
  width: 40px;
  height: 5px;
  background-color: var(--purple-color);
  display: block;
  text-align: right;
  margin: 1rem 0;
}
.why--left__para {
  line-height: 1.7;
  font-family: var(--persian-main-font);
  color: var(--gray-color);
  text-align: right;
  font-weight: 300;
  padding: 1rem 0;
}
.why--list__items {
  font-family: var(--persian-main-font);
  text-align: right;
  font-size: 16px;
  color: var(--gray-color);
}
.why--list__items i {
  color: var(--purple-color) !important;
  font-size: 20px !important;
}

/* ================= Consent Styles ================= */

.consent {
  background-image: url("../img/consent.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 30vh;
}
.consent .card-overlay .container {
  position: relative;
  z-index: 9999;
}
.consent .card-overlay .container .row {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.consent--box {
  text-align: center;
  color: white;
  font-family: var(--persian-main-font);
}
.consent--icon {
  font-size: 35px;
  color: var(--purple-color);
}
.consent--box__number {
  font-size: 40px;
  padding: 8px 0;
}
.consent--box__text {
  font-size: 20px;
  font-weight: 300;
}

/* ================= Plane Styles ================= */
.plan--box {
  border: 1px solid #ecf0f1;
  padding: 1.5rem;
  border-radius: 3px;
  text-align: center;
  font-family: var(--persian-main-font);
}
.plan--box__title {
  font-weight: 300;
  color: var(--gray-color);
}
.plan--box__price {
  border: 2px solid var(--purple-color);
  margin: 1rem auto;
  width: 120px;
  height: 120px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plan--box--sub__number {
  font-size: 13px;
}
.plan--box__content {
  line-height: 1.6;
}
.plan--box__content p {
  color: var(--bold-gray-color);
  font-size: 15px;
  font-weight: 300;
}
.plan--box--btn__are {
  margin: 2rem 0;
}
.plan--box__btn {
  padding: 10px 20px;
  border: 2px solid var(--purple-color);
  color: var(--purple-color);
  border-radius: 5px;
  font-size: 15px;
}
.plan--box__btn:hover {
  background-color: var(--purple-color);
  color: var(--white-color);
}
/* ================= Customers Styles ================= */
.customer {
  background-image: url("../img/pic2.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
.customer .card-overlay {
  padding: 10rem 0;
}

.customer--box {
  font-family: var(--persian-main-font);
  color: var(--white-color);
  text-align: right;
}
.customer--box__head {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
  gap: 15px;
}
.customer--box--head__imgbox {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}
.customer--box--head__imgbox img {
  max-width: 100%;
  height: auto;
}
.customer--box--head__title {
  font-size: 16px;
}
.customer--box--head__subtitle {
  color: var(--purple-color);
  font-weight: 300;
  font-size: 13px;
}
.customer--box__content {
  font-weight: 300;
  font-size: 15px;
  line-height: 2;
  margin-top: 1rem;
}

/* ================= Team Styles ================= */

.team--box {
  background-color: #f1f2f6;
  text-align: center;
  font-family: var(--persian-main-font);
  padding: 2rem 1rem;
}
.team--box--img__area {
  overflow: hidden !important;
}
.team--box--img__area img {
  max-width: 100%;
  height: auto;
}
.team--box--title {
  font-weight: 900;
  font-size: 18px;
}
.team--box--sub__title {
  font-size: 14px;
  font-weight: 400;
}

/* ================= Contact Styles ================= */
.contact--box {
  text-align: center;
  font-family: var(--persian-main-font);
}
.contact--box__icon {
  color: var(--purple-color);
  font-size: 30px;
}
.contact--box__title {
  padding: 10px 0;
  font-weight: 800;
  font-size: 18px;
}
.contact--box__sub {
  font-weight: 300;
  font-size: 14px;
}

/* --- contact form ---*/
.form--contact {
  direction: rtl;
  width: 65%;
  margin: 0 auto;
  padding: 2rem 0;
}
.form--contact--input,
.form--contact--txtarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0;
  outline: 0;
  background-color: #ecf0f1;
  font-family: var(--persian-main-font);
  box-sizing: border-box;
  border-bottom: 2px solid #eee;
  transition: 0.2s border-color, 0.2s opacity;
  opacity: 0.5;
  border-radius: 3px;
}
.form--contact--input::placeholder,
.form--contact--txtarea::placeholder {
  color: var(--bold-gray-color);
  font-weight: 400;
}
.form--contact--input:focus,
.form--contact--txtarea:focus {
  border-color: var(--purple-color);
  opacity: 1;
}
.name {
  display: flex;
  gap: 10px;
}
.form--contact--btnarea {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form--contact--btn {
  padding: 10px 20px;
  background-color: var(--purple-color);
  color: var(--white-color);
  font-family: var(--persian-main-font);
  font-size: 14px;
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.103);
  border-radius: 5px;
}

/* ================= Footer Styles ================= */
.footer {
  background-color: var(--black-color);
  text-align: center;
}
.logo--area .footer--logo {
  color: var(--white-color);
  font-family: var(--english-main-font);
  font-size: 40px;
}
.social-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 0 1rem 0;
}
.social--links {
  width: 55px;
  height: 55px;
  border-radius: 2px;
  background-color: var(--purple-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social--links:not(:last-child) {
  margin-right: 1rem;
}
.social--links i {
  color: var(--white-color);
  font-size: 20px;
}

